
.Card {
	text-align: center;
  border: .3px solid grey;
  height: 30%;
  max-width: 20em;
  margin: auto;
  box-shadow: 6px 7px 5px #333333;
  background-color: #EFEFEF;
  font-family: 'Raleway', sans-serif;
  opacity: 1;
  transition: opacity 1500ms ease;
}

.Game {
  background-color: #5C6BC0;
  position:fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;

}

.Card.hidden {
  opacity: 0;
}

/*btn*/
.need-help {

  border: 0;
  background: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;


}
/*btn*/
.new-game {
  float: right;
  border: 0;
  background: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;

}

.new-game:hover{
	font-size: 1.37em;
	font-weight: bold;
}


.need-help:hover{
	font-size: 1.37em;
	font-weight: bold;
}



/*hot or cold title*/
.game-title {
	text-align: center;
    padding: 20px;
    color: white;
    font-size: 2.25em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;


}

.bannerDiv{
	display: flex;
	width: 100%;
	height: 15%;
	background-color: white;
	margin-bottom: 5%;
}

.banner{
	margin: auto;
}



.input-field{
	display: flex;
    width: 15em;
    margin: auto;
}

.guessButton{
    display: flex;
    margin: auto;
}




.array{
font-family: 'Diplomata SC', cursive;
font-family: 'Roboto Condensed', sans-serif;}
